.numbers_site {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    font: 18px/1.5 sans-serif;
    text-align: center;
}
.numbers_site code {
    background: #F5F5F5;
    padding: 2px 6px;
}
.numbers_site h1, .numbers_site h2, .numbers_site h3 {
    margin: 10px 0;
}
.numbers_site button {
    margin-top: 20px;
    padding: 10px 20px;
    font-size: 18px;
    cursor: pointer;
}

#game-panel {
    font-size: 150px;
    text-align: center;
    margin: 0;
}

#typing-panel {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: auto;
    border: 1px solid #ccc;
    background-color: #f9f9f9;
    padding: 20px;
    box-sizing: border-box;
    visibility: hidden;
}

#typing-area {
    width: 100%;
    max-width: 400px;
    height: 40px;
    font-size: 18px;
    text-align: center;
    padding: 5px;
    box-sizing: border-box;


}

#answer-button {
    margin-top: 10px;
    padding: 10px 20px;
    font-size: 18px; /* Button font size */
    cursor: pointer; /* Change cursor to pointer */
}

.hidden {
    display: none;
}

.visible {
    display: block;
}

#game-over-panel {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    font: 18px/1.5 sans-serif;
    text-align: center;
}

#game-over-panel h1 {
    margin: 10px 0;
}

#game-over-panel .button-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 10px;
}

#game-over-panel button {
    padding: 10px 20px;
    font-size: 18px;
    cursor: pointer;
}

#game-over-menu {
    position: absolute;
    top: 20px;
    right: 20px;
    padding: 10px 20px;
    font-size: 18px;
    cursor: pointer;
    z-index: 1000;
    display: block;
}