{% extends 'base.html.twig' %}

{% block title %}Welcome!{% endblock %}

{% block body %}

    <link rel="stylesheet" href="{{ asset('css/wordsRemStyle.css') }}">

    <div class="words_site" id="content">
        <h1>RULES</h1>
        <h2>Rules are simple: The words will appear on screen<br>
            If you think that word has already appeared press "seen" otherwise press "new"</h2>
        <h3>Press "ready" button to start</h3>
        <button id="ready-button">Ready</button>
    </div>

    <div id="game-panel" style="display: none;">
        <h1 id="word-display">...</h1>
        <div id="health-display">
            Lives left: <span id="health-left"> 3 </span>
        </div>
        <button id="seen-button">Seen</button>
        <button id="new-button">New</button>
        <button id="menu">Menu</button>
    </div>

    <div id="game-over-panel" style="display: none;">
        <h1>I'm sorry to say that buuut. YOU HAVE LOST HAHAHAHA.</h1>
        <h1>At least your score was kinda okay: <span id="score"></span></h1>
        <h1>Just kidding it's terrible.</h1>
        <button id="save-result"> Save My Score! </button>
        <button id="try-again"> Try Again!</button>
        <button id="game-over-menu"> Menu </button>
    </div>


    <script src="{{ asset('js/wordsRemScript.js') }}"></script>
{% endblock %}