{# templates/welcome.html.twig #}

{% extends 'base.html.twig' %}

{% block title %}Welcome!{% endblock %}

{% block body %}

    <style>
        .words_site {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            height: 100vh;
            margin: 0;
            font: 18px/1.5 sans-serif;
            text-align: center;
        }
        .words_site code {
            background: #F5F5F5;
            padding: 2px 6px;
        }
        .words_site h1, .words_site h2, .words_site h3 {
            margin: 10px 0;
        }
        .words_site button {
            margin-top: 20px;
            padding: 10px 20px;
            font-size: 32px;
            cursor: pointer;
        }
    </style>

    <div class="words_site">
        <h1>RULES</h1>
        <h2>Rules are simple: The words will appear on screen<br>
        If you think that word has already appeared press "seen" otherwise press "new"</h2>
        <h3>press "ready" button to start</h3>
        <button>ready</button>


    </div>
{% endblock %}